@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-100: #F4F4F4;
  --gray-200: #F8F8F8;
  --primary: #00CC61;
  --title: #022545;
  --text: #022545;
  --gap: 20px

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --color-primary: var(--primary);
  --color-title: var(--title);
  --color-text: var(--text);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --content-spacing: var(--spa);
  --bg-secondary: var(--title);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --row-gap: var(--gap);
}

.custom-row-gap {
  gap: var(--row-gap);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

a,
button,
select {
  cursor: pointer;
  outline: none
}

.btn-10-40{
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
}

.btn-10-20{
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
}

.big-title{
  @apply lg:text-[56px] md:text-[50px] text-[42px];
}

span{
  line-height: inherit;
}

.plans-section{
  position: relative;
}

.plans-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-color: var(--color-gray-200);

}

.elementor-shape-bottom svg {
    width: calc(272% + 1.3px);
    height: 427px;
}

@media screen and (max-width : 1024px) {
    .elementor-shape-bottom svg{
          width: 4700px !important;
          left: 25% !important;
          height: 1500px;
    }
}


.elementor-shape{
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  
}

.elementor-shape svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateY(-50%);
}

.elementor-shape svg {
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: calc(100% + 1.3px);
}

.container {
  @apply max-w-7xl mx-auto px-6 lg:px-7;
}

.border-bottom {
  @apply border-b-4 border-primary max-w-max;
}

.title {
  color: var(--title);
  @apply md:leading-[64px] md:tracking-[-2.5px] tracking-[-1.5px] leading-[44px]; 
}

.title-section{
  letter-spacing: -2.5px;
  font-weight: 600;
  @apply text-[35px] md:text-[44px]  leading-[40px] md:tracking-[-2.5px] tracking-[-1.5px]  md:leading-[50px] text-title mb-6;
}

.title-section-white{
  letter-spacing: -2.5px;
  font-weight: 600;
  @apply text-[35px] md:text-[44px]  leading-[40px] md:tracking-[-2.5px] tracking-[-1.5px]  md:leading-[50px] text-white mb-6;
}


.paragraph {
  color: var(--text);
  line-height: 1.7rem;
  font-weight: 400;
  @apply md:text-[17px] text-[16px]  ;
}

.paragraph:not(:last-child){
  margin-bottom: 1.5rem;
}

.paragraph-16{
  color: var(--text);
  line-height: 1.7rem;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2px;
}

.paragraph-16{
  color: var(--text);
  line-height: 1.7rem;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2px;
}

.paragraph-16.mb-0{
  margin-bottom:0 !important;
}

.font-[Montserrat] {
  font-family: 'Montserrat', sans-serif;
}

.titles-whyChoose span{
  border-bottom: 3px solid var(--color-primary);

}

.burger-line {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.75rem;
  margin-top: -0.0625rem;
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: black;
  transition: 0.3s;
}

.burger-line:before,
.burger-line:after {
  content: "";
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: black;
  transition: 0.3s;
}

.burger-line:before {
  top: -0.525rem;
}

.burger-line:after {
  top: 0.525rem;
}

.burger-line.open {
  background-color: transparent;
}

.burger-line.open:before,
.burger-line.open:after {
  top: 0;
}

.burger-line.open:before {
  transform: rotate(45deg);
}

.burger-line.open:after {
  transform: rotate(-45deg);
}



.animated-link {
  position: relative;
}

.animated-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.4s ease;
}

.animated-link:hover {
  color: var(--color-primary);
}

.animated-link:hover::after {
  width: 100%;
}

.animated-link:not(:hover)::after {
  left: auto;
  right: 0;
  width: 0;
}